<div class="popover am-flip-x " id="popover-container" tabindex="-1"
     style="top: -31px;display: block;visibility: visible;width: 325px !important;color: black;left:0px !important;">
    <div class="arrow" style="left: 65%; !important"></div>
    <h3 class="popover-title ng-binding"><i class="fa fa-cog" aria-hidden="true"></i> Robot Configuration</h3>
    <div class="popover-content">

        <div class="row">
            <div class="col-sm-5">Process Interval</div>
            <div class="col-sm-7">
                <input type="text" ng-model="robotConfig.interval" style="width:50px;text-align: center;height: 30px;" placeholder="time">
                <select class="form-control" ng-model="robotConfig.unit"
                        style="width:95px;display: inline-block;height: 30px;">
                    <option value="">unit</option>
                    <option value="d">Day</option>
                    <option value="h">Hour</option>
                    <option value="m">Minute</option>
                </select>
            </div>
        </div>

    </div>
    </br>
    <dvi class="clearfix"></dvi>
    <div class="">
        <div class="col-md-2"></div>
        <div class="popover-action">
            <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="saveConfiguration(robotConfig);$hide()">Save</button>
        </div>
    </div>
</div>
